.section{
    background-image: linear-gradient(to bottom, rgb(0, 0, 0), rgba(0, 0, 0, 0.667));
    border-style: groove;
    border-radius: 28px;
    color: white;
  text-shadow: 2px 2px 4px #000000;
  margin:5px ;
}
.division{
    background-color: gainsboro;
    padding:10px;
    margin:10px;
    border:1px solid grey;
    border-radius: 10px;
}
.profile-picture img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid #ffffff;
    object-fit: cover;
    display: block;
    margin:auto;
   
}
.container{
    max-width:800px;
    margin:20px auto;
    padding:20px;

}